{
  "openapi": "3.1.0",
  "info": {
    "title": "v0 Platform API (beta)",
    "version": "1",
    "description": "Full stack vibe coding API",
    "termsOfService": "https://vercel.com/legal/api-terms"
  },
  "externalDocs": {
    "description": "Find more info here",
    "url": "https://vercel.com/docs/v0/api"
  },
  "servers": [
    {
      "url": "https://api.v0.dev/v1"
    }
  ],
  "tags": [
    {
      "name": "chats",
      "description": "Chats"
    }
  ],
  "paths": {
    "/chats": {
      "post": {
        "summary": "Create Chat",
        "description": "Creates a new chat using a user message, optional system context, and model configuration. Useful for prompting the model within the scope of a specific project.",
        "operationId": "chats.create",
        "tags": [
          "chats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Creates a new chat using a user message, optional system context, and model configuration. Useful for prompting the model within the scope of a specific project."
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false
                    },
                    "description": "A list of files or assets to be included in the conversation context. Useful when the chat or task requires referencing documents, images, or other resources."
                  },
                  "system": {
                    "type": "string",
                    "description": "Provides system-level context or background for the chat. This is typically used to specify frameworks, tools, or development environments relevant to the task."
                  },
                  "chatPrivacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private",
                      "team-edit",
                      "team",
                      "unlisted"
                    ],
                    "default": "private",
                    "description": "Determines the privacy setting of the chat. This can control whether the chat is visible only to the user, to team members, or is public."
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Associates the chat with a specific project in your workspace. Helps organize and group related chats under a common project context."
                  },
                  "modelConfiguration": {
                    "type": "object",
                    "properties": {
                      "modelId": {
                        "type": "string",
                        "enum": [
                          "v0-1.5-sm",
                          "v0-1.5-md",
                          "v0-1.5-lg"
                        ]
                      },
                      "imageGenerations": {
                        "type": "boolean",
                        "default": false
                      },
                      "thinking": {
                        "type": "boolean",
                        "default": false
                      }
                    },
                    "required": [
                      "modelId"
                    ],
                    "additionalProperties": false,
                    "description": "Settings that control how the model behaves in the chat."
                  },
                  "responseMode": {
                    "type": "string",
                    "enum": [
                      "sync",
                      "async"
                    ],
                    "default": "sync",
                    "description": "Controls how the response is delivered.\n\n- `\"sync\"`: The response is returned immediately with the HTTP request.\n- `\"async\"`: Returns a message placeholder immediately; use getById to poll for completion status and final output."
                  }
                },
                "required": [
                  "message"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unauthorized_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "forbidden_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "not_found_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "conflict_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "payload_too_large_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unprocessable_entity_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "too_many_requests_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "internal_server_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "get": {
        "summary": "Find Chats",
        "description": "Retrieves a list of existing chats, with support for pagination and filtering by favorite status. Helps manage and navigate chat history.",
        "operationId": "chats.find",
        "tags": [
          "chats"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChatSummary"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unauthorized_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "forbidden_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "not_found_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "conflict_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "payload_too_large_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unprocessable_entity_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "too_many_requests_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "internal_server_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 60,
              "default": 60,
              "description": "Specifies the maximum number of chat records to return in a single response. Useful for paginating results when there are many chats."
            },
            "description": "Specifies the maximum number of chat records to return in a single response. Useful for paginating results when there are many chats."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0,
              "description": "Determines the starting point for pagination. Used in conjunction with limit to retrieve a specific page of chat results."
            },
            "description": "Determines the starting point for pagination. Used in conjunction with limit to retrieve a specific page of chat results."
          },
          {
            "name": "isFavorite",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Filters chats by their \"favorite\" status. Accepts `\"true\"` or `\"false\"` (as strings, not booleans).\n\n- `\"true\"`: returns only chats marked as favorites.\n- `\"false\"`: returns only non-favorite chats."
            },
            "description": "Filters chats by their \"favorite\" status. Accepts `\"true\"` or `\"false\"` (as strings, not booleans).\n\n- `\"true\"`: returns only chats marked as favorites.\n- `\"false\"`: returns only non-favorite chats."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/chats/init": {
      "post": {
        "summary": "Initialize Chat",
        "description": "Initializes a new chat from source content such as files, repositories, registries, or zip archives. Enables context-rich conversations based on code or assets.",
        "operationId": "chats.init",
        "tags": [
          "chats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "A user-defined name for the chat. Helps identify or describe the purpose of the chat session in the UI or API responses."
                      },
                      "chatPrivacy": {
                        "type": "string",
                        "enum": [
                          "public",
                          "private",
                          "team-edit",
                          "team",
                          "unlisted"
                        ],
                        "default": "private",
                        "description": "Controls the visibility of the chat. Defines whether the chat is private, shared with a team, or publicly accessible."
                      },
                      "projectId": {
                        "type": "string",
                        "description": "Associates the chat with a specific project. Useful for organizing and grouping chats in a workspace."
                      }
                    }
                  },
                  {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "files",
                            "description": "Specifies the initialization method. For this endpoint, it defines the source of content being used to initialize the chat."
                          },
                          "files": {
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    },
                                    "locked": {
                                      "type": "boolean",
                                      "description": "Whether to lock this file to prevent AI from overwriting it during generation"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "url"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "content": {
                                      "type": "string"
                                    },
                                    "locked": {
                                      "type": "boolean",
                                      "description": "Whether to lock this file to prevent AI from overwriting it during generation"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "content"
                                  ],
                                  "additionalProperties": false
                                }
                              ]
                            },
                            "minItems": 1,
                            "description": "An array of inline file objects used to initialize the chat. Each object must contain a file `name` and its `content`."
                          }
                        },
                        "required": [
                          "type",
                          "files"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "repo",
                            "description": "Specifies the initialization method. For this endpoint, it defines the source of content being used to initialize the chat."
                          },
                          "repo": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "branch": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ],
                            "additionalProperties": false,
                            "description": "Specifies a repository source for initialization. Should include relevant details like repository URL, branch, and authentication if needed."
                          },
                          "lockAllFiles": {
                            "type": "boolean",
                            "description": "Whether to lock all files in the repository to prevent AI from overwriting them during generation"
                          }
                        },
                        "required": [
                          "type",
                          "repo"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "registry",
                            "description": "Specifies the initialization method. For this endpoint, it defines the source of content being used to initialize the chat."
                          },
                          "registry": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ],
                            "additionalProperties": false,
                            "description": "Allows initialization from a predefined component or code registry. Includes the registry source and identifier for the desired component/module."
                          },
                          "lockAllFiles": {
                            "type": "boolean",
                            "description": "Whether to lock all files from the registry to prevent AI from overwriting them during generation"
                          }
                        },
                        "required": [
                          "type",
                          "registry"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "zip",
                            "description": "Specifies the initialization method. For this endpoint, it defines the source of content being used to initialize the chat."
                          },
                          "zip": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri"
                              }
                            },
                            "required": [
                              "url"
                            ],
                            "additionalProperties": false,
                            "description": "Provides a zipped bundle of files as the input source. Typically includes a base64-encoded archive or a remote URL reference."
                          },
                          "lockAllFiles": {
                            "type": "boolean",
                            "description": "Whether to lock all files from the zip archive to prevent AI from overwriting them during generation"
                          }
                        },
                        "required": [
                          "type",
                          "zip"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat."
                    },
                    "object": {
                      "type": "string",
                      "const": "chat",
                      "description": "Fixed value identifying this object as a chat."
                    },
                    "shareable": {
                      "type": "boolean",
                      "description": "Indicates whether the chat can be shared via public link."
                    },
                    "privacy": {
                      "type": "string",
                      "enum": [
                        "public",
                        "private",
                        "team",
                        "team-edit",
                        "unlisted"
                      ],
                      "description": "Defines the visibility of the chat—private, team-only, or public."
                    },
                    "name": {
                      "type": "string",
                      "description": "An optional name assigned to the chat by the user."
                    },
                    "title": {
                      "type": "string",
                      "description": "Deprecated title field preserved for backward compatibility.",
                      "deprecated": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The ISO timestamp representing when the chat was created."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "The ISO timestamp of the last update to the chat."
                    },
                    "favorite": {
                      "type": "boolean",
                      "description": "Indicates whether the chat is marked as a favorite."
                    },
                    "authorId": {
                      "type": "string",
                      "description": "The ID of the user who created the chat."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Optional ID of the v0 project associated with this chat."
                    },
                    "webUrl": {
                      "type": "string",
                      "description": "Web URL to view this chat in the browser."
                    },
                    "apiUrl": {
                      "type": "string",
                      "description": "API URL to access this chat via the API."
                    },
                    "latestVersion": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "A unique identifier for the version."
                        },
                        "object": {
                          "type": "string",
                          "const": "version",
                          "description": "Fixed value identifying this object as a version."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "completed",
                            "failed"
                          ],
                          "description": "The current status of the version generation process."
                        },
                        "demoUrl": {
                          "type": "string",
                          "description": "Optional URL for previewing the generated output."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the version was created, in ISO 8601 format."
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the version was last updated, in ISO 8601 format."
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FileDetail"
                          },
                          "description": "A list of files that were generated or included in this version."
                        }
                      },
                      "required": [
                        "id",
                        "object",
                        "status",
                        "createdAt",
                        "files"
                      ],
                      "additionalProperties": false,
                      "description": "Full details of the most recent generated version, if available."
                    },
                    "url": {
                      "type": "string",
                      "description": "The canonical URL to access this chat.",
                      "deprecated": true
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageSummary"
                      },
                      "description": "All messages exchanged in the chat, including user and assistant entries."
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string",
                            "description": "Programming language used in the file (e.g., JavaScript, Python)."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "A key-value map of metadata associated with the file (e.g., path, type)."
                          },
                          "source": {
                            "type": "string",
                            "description": "The origin or identifier of the file source (e.g., path or upload label)."
                          }
                        },
                        "required": [
                          "lang",
                          "meta",
                          "source"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Optional array of files associated with the chat context."
                    },
                    "demo": {
                      "type": "string",
                      "description": "Deprecated demo URL used for previewing the chat result.",
                      "deprecated": true
                    },
                    "text": {
                      "type": "string",
                      "description": "The main user prompt or instruction that started the chat."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "shareable",
                    "privacy",
                    "createdAt",
                    "favorite",
                    "authorId",
                    "webUrl",
                    "apiUrl",
                    "url",
                    "messages",
                    "text"
                  ],
                  "additionalProperties": false,
                  "description": "Detailed representation of a chat, including its messages, files, versions, and model configuration."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unauthorized_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "forbidden_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "not_found_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "conflict_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "payload_too_large_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unprocessable_entity_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "too_many_requests_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "internal_server_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/chats/{chatId}": {
      "delete": {
        "summary": "Delete Chat",
        "description": "Deletes a specific chat based on the provided chatId. This operation is irreversible and permanently removes the chat and its contents.",
        "operationId": "chats.delete",
        "tags": [
          "chats"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "chat"
                    },
                    "deleted": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "deleted"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unauthorized_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "forbidden_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "not_found_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "conflict_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "payload_too_large_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unprocessable_entity_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "too_many_requests_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "internal_server_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the chat to delete. This must be passed as a path parameter in the URL."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "get": {
        "summary": "Get Chat",
        "description": "Retrieves the full details of a specific chat using its `chatId`. Includes messages, metadata, and associated configuration.",
        "operationId": "chats.getById",
        "tags": [
          "chats"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat."
                    },
                    "object": {
                      "type": "string",
                      "const": "chat",
                      "description": "Fixed value identifying this object as a chat."
                    },
                    "shareable": {
                      "type": "boolean",
                      "description": "Indicates whether the chat can be shared via public link."
                    },
                    "privacy": {
                      "type": "string",
                      "enum": [
                        "public",
                        "private",
                        "team",
                        "team-edit",
                        "unlisted"
                      ],
                      "description": "Defines the visibility of the chat—private, team-only, or public."
                    },
                    "name": {
                      "type": "string",
                      "description": "An optional name assigned to the chat by the user."
                    },
                    "title": {
                      "type": "string",
                      "description": "Deprecated title field preserved for backward compatibility.",
                      "deprecated": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The ISO timestamp representing when the chat was created."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "The ISO timestamp of the last update to the chat."
                    },
                    "favorite": {
                      "type": "boolean",
                      "description": "Indicates whether the chat is marked as a favorite."
                    },
                    "authorId": {
                      "type": "string",
                      "description": "The ID of the user who created the chat."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Optional ID of the v0 project associated with this chat."
                    },
                    "webUrl": {
                      "type": "string",
                      "description": "Web URL to view this chat in the browser."
                    },
                    "apiUrl": {
                      "type": "string",
                      "description": "API URL to access this chat via the API."
                    },
                    "latestVersion": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "A unique identifier for the version."
                        },
                        "object": {
                          "type": "string",
                          "const": "version",
                          "description": "Fixed value identifying this object as a version."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "completed",
                            "failed"
                          ],
                          "description": "The current status of the version generation process."
                        },
                        "demoUrl": {
                          "type": "string",
                          "description": "Optional URL for previewing the generated output."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the version was created, in ISO 8601 format."
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the version was last updated, in ISO 8601 format."
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FileDetail"
                          },
                          "description": "A list of files that were generated or included in this version."
                        }
                      },
                      "required": [
                        "id",
                        "object",
                        "status",
                        "createdAt",
                        "files"
                      ],
                      "additionalProperties": false,
                      "description": "Full details of the most recent generated version, if available."
                    },
                    "url": {
                      "type": "string",
                      "description": "The canonical URL to access this chat.",
                      "deprecated": true
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageSummary"
                      },
                      "description": "All messages exchanged in the chat, including user and assistant entries."
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string",
                            "description": "Programming language used in the file (e.g., JavaScript, Python)."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "A key-value map of metadata associated with the file (e.g., path, type)."
                          },
                          "source": {
                            "type": "string",
                            "description": "The origin or identifier of the file source (e.g., path or upload label)."
                          }
                        },
                        "required": [
                          "lang",
                          "meta",
                          "source"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Optional array of files associated with the chat context."
                    },
                    "demo": {
                      "type": "string",
                      "description": "Deprecated demo URL used for previewing the chat result.",
                      "deprecated": true
                    },
                    "text": {
                      "type": "string",
                      "description": "The main user prompt or instruction that started the chat."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "shareable",
                    "privacy",
                    "createdAt",
                    "favorite",
                    "authorId",
                    "webUrl",
                    "apiUrl",
                    "url",
                    "messages",
                    "text"
                  ],
                  "additionalProperties": false,
                  "description": "Detailed representation of a chat, including its messages, files, versions, and model configuration."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unauthorized_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "forbidden_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "not_found_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "conflict_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "payload_too_large_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unprocessable_entity_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "too_many_requests_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "internal_server_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the chat to retrieve. Must be provided as a path parameter."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "patch": {
        "summary": "Update Chat",
        "description": "Updates the metadata of an existing chat using its `chatId`. Supports changes to the chat name and privacy setting.",
        "operationId": "chats.update",
        "tags": [
          "chats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A new name to assign to the chat. Helps with identification and organization."
                  },
                  "privacy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "private",
                      "team",
                      "team-edit",
                      "unlisted"
                    ],
                    "description": "Sets the privacy level of the chat."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat."
                    },
                    "object": {
                      "type": "string",
                      "const": "chat",
                      "description": "Fixed value identifying this object as a chat."
                    },
                    "shareable": {
                      "type": "boolean",
                      "description": "Indicates whether the chat can be shared via public link."
                    },
                    "privacy": {
                      "type": "string",
                      "enum": [
                        "public",
                        "private",
                        "team",
                        "team-edit",
                        "unlisted"
                      ],
                      "description": "Defines the visibility of the chat—private, team-only, or public."
                    },
                    "name": {
                      "type": "string",
                      "description": "An optional name assigned to the chat by the user."
                    },
                    "title": {
                      "type": "string",
                      "description": "Deprecated title field preserved for backward compatibility.",
                      "deprecated": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The ISO timestamp representing when the chat was created."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "The ISO timestamp of the last update to the chat."
                    },
                    "favorite": {
                      "type": "boolean",
                      "description": "Indicates whether the chat is marked as a favorite."
                    },
                    "authorId": {
                      "type": "string",
                      "description": "The ID of the user who created the chat."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Optional ID of the v0 project associated with this chat."
                    },
                    "webUrl": {
                      "type": "string",
                      "description": "Web URL to view this chat in the browser."
                    },
                    "apiUrl": {
                      "type": "string",
                      "description": "API URL to access this chat via the API."
                    },
                    "latestVersion": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "A unique identifier for the version."
                        },
                        "object": {
                          "type": "string",
                          "const": "version",
                          "description": "Fixed value identifying this object as a version."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "completed",
                            "failed"
                          ],
                          "description": "The current status of the version generation process."
                        },
                        "demoUrl": {
                          "type": "string",
                          "description": "Optional URL for previewing the generated output."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the version was created, in ISO 8601 format."
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time when the version was last updated, in ISO 8601 format."
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FileDetail"
                          },
                          "description": "A list of files that were generated or included in this version."
                        }
                      },
                      "required": [
                        "id",
                        "object",
                        "status",
                        "createdAt",
                        "files"
                      ],
                      "additionalProperties": false,
                      "description": "Full details of the most recent generated version, if available."
                    },
                    "url": {
                      "type": "string",
                      "description": "The canonical URL to access this chat.",
                      "deprecated": true
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageSummary"
                      },
                      "description": "All messages exchanged in the chat, including user and assistant entries."
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string",
                            "description": "Programming language used in the file (e.g., JavaScript, Python)."
                          },
                          "meta": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "A key-value map of metadata associated with the file (e.g., path, type)."
                          },
                          "source": {
                            "type": "string",
                            "description": "The origin or identifier of the file source (e.g., path or upload label)."
                          }
                        },
                        "required": [
                          "lang",
                          "meta",
                          "source"
                        ],
                        "additionalProperties": false
                      },
                      "description": "Optional array of files associated with the chat context."
                    },
                    "demo": {
                      "type": "string",
                      "description": "Deprecated demo URL used for previewing the chat result.",
                      "deprecated": true
                    },
                    "text": {
                      "type": "string",
                      "description": "The main user prompt or instruction that started the chat."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "shareable",
                    "privacy",
                    "createdAt",
                    "favorite",
                    "authorId",
                    "webUrl",
                    "apiUrl",
                    "url",
                    "messages",
                    "text"
                  ],
                  "additionalProperties": false,
                  "description": "Detailed representation of a chat, including its messages, files, versions, and model configuration."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unauthorized_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "forbidden_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "not_found_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "conflict_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "payload_too_large_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unprocessable_entity_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "too_many_requests_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "internal_server_error"
                        }
                      },
                      "required": [
                        "message",
                        "type"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the chat to update. Provided as a path parameter."
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/chats/{chatId}/favorite": {
      "put": {
        "summary": "Favorite Chat",
        "description": "Marks or unmarks a chat as a favorite using its `chatId`. This helps with organizing and quickly accessing important chats.",
        "operationId": "chats.favorite",
        "tags": [
          "chats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isFavorite": {
                    "type": "boolean",
                    "description": "Specifies whether the chat should be marked as a favorite.\n\n- `\"true\"`: mark as favorite\n- `\"false\"`: remove from favorites"
                  }
                },
                "required": [
                  "isFavorite"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "chat"
                    },
                    "favorited": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "favorited"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "const": "unauthorized_error"
[...]
